body {
  background-color: #fff4e0;
}

.MemoryGame {
  text-align: center;
}

.gameHeader {
  margin-bottom: 7px;
}

.gameDesc {
  margin: 8px auto;
}

.Scoreboard {
  height: 40px;
}

.score {
  display: inline-block;
  margin: 10px 20px;
}

.CardDisplay {
  display: grid;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.easyGrid {
  grid-template-columns: repeat(3, 1fr);
  width: 640px;
}

.normalGrid {
  grid-template-columns: repeat(4, 1fr);
  width: 860px;
}

.hardGrid {
  grid-template-columns: repeat(6, 1fr);
  width: 1250px;
}

.challengingGrid {
  grid-template-columns: repeat(8, 1fr);
  width: 1670px;
}

.Card {
  background-color: #600;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
}

.cardName {
  margin-top: 12px;
}

.cardImg {
  width: 100%;
}
