body {
  background-color: #fff4e0;
}

.game-container {
  text-align: center;
}

.game-header {
  margin-bottom: 7px;
}

.game-desc {
  margin: 8px auto;
}

.scoreboard-container {
  height: 40px;
}

.score {
  display: inline-block;
  margin: 10px 20px;
}

.card-display {
  display: grid;
  justify-items: center;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
}

.easy-grid {
  grid-template-columns: repeat(3, 1fr);
  width: 640px;
}

.normal-grid {
  grid-template-columns: repeat(4, 1fr);
  width: 860px;
}

.hard-grid {
  grid-template-columns: repeat(6, 1fr);
  width: 1250px;
}

.challenging-grid {
  grid-template-columns: repeat(8, 1fr);
  width: 1670px;
}

.card {
  background-color: #600;
  color: white;
  font-size: 18px;
  font-weight: bold;
  width: 200px;
  cursor: pointer;
}

.card-img {
  width: 100%;
  display: block;
}
